/DemoMap/obj
/DotSpatial.Analysis/obj
/DotSpatial.Analysis.Tests/obj
/DotSpatial.Analysis.Tests/bin
/DotSpatial.Compatibility/obj
/DotSpatial.Controls/obj
/DotSpatial.Symbology/obj
/DotSpatial.Data/obj
/DotSpatial.Projections/obj
/DotSpatial.Serialization/obj
/LayerSymbolDemo/obj
/Examples/DemoLas/obj
/Examples/DemoGPS/C#/obj
/Examples/DemoCustomLayer/obj
/Examples/AppManagerCustomizationDesignTime/obj
/DotSpatial.Projections.Tests/obj
/DotSpatial.Tools.Tests/obj
/DotSpatial.Data.Tests/obj
/DotSpatial.Serialization.Tests/obj
/DotSpatial.Symbology.Tests/obj
/DotSpatial.Plugins.ExtensionManager.Tests/obj
/DotSpatial.Controls.Tests/obj
/DotSpatial.Plugins.ScriptRunner/obj
/DotSpatial.Plugins.Taudem.Port/obj
/DotSpatial.Plugins.ScaleBar/obj
/DotSpatial.NTSExtension/obj
/DotSpatial.Plugins.SetSelectable/obj
/DotSpatial.Plugins.ExtensionManager.Updater/obj
/DotSpatial.Plugins.StatusBarImprovements/obj
/DotSpatial.Plugins.SimpleMap/obj
/DotSpatial.Tests.Common/obj
/DotSpatial.Positioning.Tests/obj
/DotSpatial.Plugins.MapWindowProjectFileCompatibility.Tests/obj
/DotSpatial.Plugins.Legend/obj
/DotSpatial.Plugins.WFSClient/obj
/DotSpatial.Plugins.Contourer/obj
/DotSpatial.Plugins.Measure/obj
/DotSpatial.Plugins.MapWindowProjectFileCompatibility/obj
/DotSpatial.Plugins.ScriptRunner.CSharpCodeCompletion/obj
/DotSpatial.Plugins.FindFeature/obj
/DotSpatial.Plugins.TableEditor/obj
/DotSpatial.Plugins.LiDAR/obj
/DotSpatial.Plugins.ToolManager/obj
/DotSpatial.Extensions/obj
/DotSpatial.Plugins.Help/obj
/DotSpatial.Plugins.Taudem/obj
/DotSpatial.Plugins.SpatiaLite/obj
/DotSpatial.Plugins.WebMap/obj
/DotSpatial.Plugins.ExtensionManager/obj
/DotSpatial.Plugins.ClickOnceUpdater/obj
/DotSpatial.Plugins.About/obj
/DotSpatial.Plugins.ShapeEditor/obj
/DotSpatial.Symbology.Forms/obj
/DotSpatial.Projections.Forms/obj
/DotSpatial.Modeling.Forms/obj
/DotSpatial.Data.Forms/obj
/DotSpatial.Positioning.Forms/obj
/DotSpatial.Positioning.Design/obj
/DotSpatial.Positioning/obj
/DotSpatial.Data.Rasters.GdalExtension/obj
/DotSpatial.Tools/obj
/.nuget
/.vs
/bin
/packages
/DotSpatial.ruleset
/DotSpatial.WebControls.sln
/Readme.md
